image:
  repository: similarweb/statusbay
  tag: 1.5
  pullPolicy: Always

database:
  # Make sure all your K8S clusters have access to the main Database.
  type: external

  host: 127.0.0.1 # Redundent if using internal
  port: 3306 # Redundent if using internal
  username: statusbay
  password: changeme
  schema: statusbay

rbac:
  create: true

serviceAccount:
  create: true
  name: 

api:
  create: false

watcher:
  kubernetes:
    create: true
    annotations: {}
    application:
      cluster_name: default
      log:
        level: INFO
        # gelf_address: 127.0.0.1
      ui:
        base_url: todo
      applies:
        save_interval: 2s
        max_apply_time: 10m
        check_finish_delay: 5s
        collect_data_after_apply_finish: 10s
      # slack:
      #   token: example-slack-token
      #   default_channels:
      #     - "#example-channel"
    resources:
      requests:
        cpu: 100m
        memory: 128Mi