{{- if .Values.ui.create  }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "statusbay.fullname" . }}-ui
  labels:
{{ include "statusbay.labels" . | indent 4 }}
    component: {{ include "statusbay.fullname" . }}-ui
  annotations:
{{- if .Values.ui.annotations }}
{{ toYaml .Values.ui.annotations | indent 4}}
{{- end }}
{{ include "statusbay.annotations" . | indent 4 }}
spec:
  selector:
    matchLabels:
{{ include "statusbay.matchLabels" . | indent 6 }}
      component: {{ include "statusbay.fullname" . }}-ui
  replicas: {{ .Values.ui.replicas }}
  template:
    metadata:
      labels:
{{ include "statusbay.labels" . | indent 8 }}
        component: {{ include "statusbay.fullname" . }}-ui
    spec:
      serviceAccountName: {{ template "statusbay.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}-ui
          image: "{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag }}"
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
          env:
            - name: API_URL
              value: "{{ template "statusbay.fullname" . }}-api"
            {{- include "statusbay.environmentVars" .Values.ui | nindent 12 -}}         
{{- end -}}
